body {
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
}

.container {
    background-color: aquamarine;
    border: 0;
    border-radius: 50px;
    margin: 20vh 25vw 0 25vw;
    padding: 10px;
    width: 50vw;
    height: 50vh;
    text-align: center;
}

.container h2 {
    text-transform: uppercase;
    text-decoration: underline;
}

.forms {
    margin-top: 10%;
}

#input-box {
    padding: 15px;
    width: 400px;
    outline: 0;
    border: 2px solid green;
    border-radius: 20px;
    background: 0;
}

#submit {
    padding: 15px;
    border: 0;
    border-radius: 20px;
    background: 0;
    margin-left: -90px;
}

#warning {
    font-size: 15px;
    color: #ff0000;
    margin-top: -3px;
}

#result {
    font-size: 50px;
    font-weight: bold;
    margin: 5px 0 0 0;
}